@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

html, body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family:Roboto;
  display: flex;
  
  flex-direction: column;
  align-items: center;
}

header{
  margin: 0;
  width: 100vw;
  font-family: Righteous;
  font-size: 30px;
  color: #e46319;
  
}
h1{
  margin: 1.25rem;
  text-align: center;
}

main{
  flex-grow: 1;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  
}


p{
  color: #2b55a3;
}

a{
  text-decoration: none;
  color: #e46319;
}
a:hover{
  color: #923600;
}

footer{
  width: 100vw;
  
  display: flex;
  justify-content: center;
  
}

#container{
  width: 45.938rem;
  margin: 1.25rem auto 2.5rem auto;
  display: flex;
  flex-wrap: wrap;
 
}

.box{
  width: 2.188rem;
  height: 2.188rem;

}

.blue{
  background-color: cornflowerblue;
}

.snow{
  background-color: #fffafa;
}

.start {
  background-color: lightgreen;
}

.finish{
  background-image: url('./assets/finish.jpg');
  
}

.row-direction{
  display: flex;
}

#player{
  
  width: 2.188rem;
  height: 2.188rem;
  background-color: #e46319;
  border-radius: 100%;
  left: 0px;
  top: 0px;
  animation-name: player-blur;
  animation-duration: 100ms;
}

#w0{
  border-top-left-radius: 1.25rem;
}

#w20{
  border-top-right-radius: 1.25rem;
}

#w294{
  border-bottom-left-radius: 1.25rem;
}

#w314{
  border-bottom-right-radius: 1.25rem;
}

#w294{
  box-shadow:  0 5px  #2b55a3;
}

#w295, #w296 , #w297, #w298, #w299, #w300, #w301, #w302, #w303, #w304, #w305, #w306, #w307, #w308 , #w309, #w310, #w311, #w312, #w313, #w314{
  box-shadow: 0 5px #2b55a3;
}

#reset{
  background-color:#e46319;
  border-radius: 0.625rem;
  border: none;
  box-shadow: 0 5px #923600;
  width:200px;
  height:50px;
  font-size: 20px;
  font-weight: bold;
  color: #fffafa;
  outline: none;
  transition: 0.2s;
}

#reset:hover{
  transform: translateY(2px);
  box-shadow: 0 3px #923600;
  background-color: #e95500;
}

#reset:active{
  transform: translateY(5px);
  box-shadow: none;
  background-color: #e46319;
}


